services:
  postgres:
    image: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: be_waffle_shop

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
